* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadro-principal{
    display: flex;
    flex-direction: row;
    justify-items: end;
    font-family: Big Shoulders Display;
    font-size: 15px;
    color: hsl(0, 0%, 95%); 
    height: 650px;
    border: solid 2px black;
    border-radius: 25px;

}

.planos {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    
    flex-direction: column;
    
}

.sedans{
    background-color: hsl(31, 77%, 52%);
    border-radius: 25px 0 0 25px;
    
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxo {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 25px 25px 0;
}

img {
    height: 35px;
    width: 35px;
}

.attribution {
     font-size: 11px; text-align: center; 
    }
.attribution a {
         color: hsl(228, 45%, 44%);  
    }