* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    margin: auto;
    padding: 100px;
    justify-content: center;
    align-items: center;
    font-family: Big Shoulders Display;
    font-size: 15px;
    color: hsl(0, 0%, 95%); 
    width: 100%; 
    
}

.quadro-principal{
    display: flex;
    flex-direction: row;

}

.planos {
    margin: auto;
    padding: 20px;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

.sedans{
    background-color: hsl(31, 77%, 52%);
    
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxo {
    background-color: hsl(179, 100%, 13%);
}

.attribution {
     font-size: 11px; text-align: center; 
    }
.attribution a {
         color: hsl(228, 45%, 44%);  
    }